
<div class="client_container" id="client">

  <div class="review_section">
    <div class="stars">
      <h1>Commentaires</h1>
      <i class="fas fa-star" data-id="1"></i>
      <i class="fas fa-star" data-id="2"></i>
      <i class="fas fa-star" data-id="3"></i>
      <i class="fas fa-star" data-id="4"></i>
      <i class="fas fa-star" data-id="5"></i>
      <p>16 Commentaires</p>
    </div>

    <div class="add_review">
      <i class="fas fa-pen"></i>
      <button class="add_review_btn showAlert">Laisser un commentaire</button>
    </div>
  </div>
  <div class="review-alert">
    <div class="review_text"><i class="fa-regular fa-bell"></i> Please be respectfull once you add a review</div>
    <button class="ok bg-success">Continuer</button>
  </div>
  <div class="review-submit">
    <section class="review-form">
      <form class="form-review">
        <label for="name">Nom:</label>
        <input type="text" id="name" name="name" class="reviewer_name" required>
        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" class="reviewer_message" required></textarea>
        <div class="stars">
          <h5>5 etoil est la bonne lol</h5>
          <i class="fas fa-star" data-id="1"></i>
          <i class="fas fa-star" data-id="2"></i>
          <i class="fas fa-star" data-id="3"></i>
          <i class="fas fa-star" data-id="4"></i>
          <i class="fas fa-star" data-id="5"></i>
        </div>
        <div class="review_btn_submit_wrapper">
          <button type="submit" class="review_btn_submit">Submit</button>
        </div>
      </form>
    </section>
  </div>

  <div class="clients">
    <div class="testimonial-card">
      <div class="testimonial-content">
        <img src="/images/386473791_857568445577137_1308291614278272068_n.jpg" alt="Client 1">
        <h2>Junnifer</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-content">
        <img src="/images/dog.png" alt="Client 2">
        <h2>Jackson</h2>
        <p>"Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      </div>
    </div>

    
    <div class="testimonial-card">
      <div class="testimonial-content">
        <img src="/images/dog.png" alt="Client 2">
        <h2>Jackson</h2>
        <p>"Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-content">
        <img src="/images/dog4.jpg" alt="Client 2">
        <h2>John</h2>
        <p>"Our picky eater, Bella, absolutely loves this dog! Her coat is shinier, and she has so much more energy."</p>
      </div>
    </div>

    <div class="testimonial-card">
      <div class="testimonial-content">
        <img src="/images/dpg2.jpg" alt="Client 2">
        <h2>Lucas</h2>
        <p>"Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
      </div>
    </div>

    {{#each reviewsdata}}
      <div class="testimonial-card">
        <div class="testimonial-content">
          <img src="/images/dpg2.jpg" alt="Client 2">
          <h2>{{createdAt}}</h2>
          <p>{{name}}</p>
        </div>
      </div>
    {{/each}}
  </div> 

</div>
<script src="/JavaScript/showAlert.js"></script>
<script src="/JavaScript/addReview.js"></script>