<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #242628;">
  <a class="navbar-brand" href="/"><img src="/images/Screenshot 2023-04-10 112519.png" alt="" width="100" ></a>
  <button class="navbar-toggler navbar-little-icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon active"></span>
  </button>
  <div class="collapse navbar-collapse main-nav" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link border border-warning text-dark" href="/commity" id="nav-link-padding">PUPPIES FOR SALE</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link border border-success text-light" href="/event" id="nav-link-padding">BREEDS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link border border-secondary rounded text-light" href="/help">EDUCATE</a>
      </li>
       <li class="nav-item">
        <a class="nav-link border border-dark text-light" href="/help">FORUM</a>
      </li>
       <li class="nav-item">
        <a class="nav-link border border-info rounded text-light" href="/help">PICTURES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link border border-secondary text-light" href="/help">VIDEOS</a>
      </li>
    </ul>
  </div>
  
  <button class="nav-link logout fa-beat-fade" id="nav-link">Contact <i class="fa-solid fa-right-to-bracket"></i></button>

</nav>

<section class="about row">
  <div class="about-context-one col">
    <div class="about-text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam aliquid debitis unde possimus perferendis architecto.
    </div>
    <div class="btn">
      <button>
        Click Me
      </button>
    </div>
  </div>
  <div class="about-context-two col">
    <img src="/images/puppy-2785074_640.jpg" alt="" class="m-2">
  </div>
</section>