<div class="svg">
  <svg class="container"  x="0px"  y="0px" viewBox="0 0 50 31.25" height="31.25" width="50" preserveAspectRatio='xMidYMid meet'>
    <path  class="track" stroke-width="4" fill="none" pathlength="100" d="M0.625 21.5 h10.25 l3.75 -5.875 l7.375 15 l9.75 -30 l7.375 20.875 v0 h10.25" />
    <path class="car"stroke-width="4" fill="none" pathlength="100"d="M0.625 21.5 h10.25 l3.75 -5.875 l7.375 15 l9.75 -30 l7.375 20.875 v0 h10.25"/>
  </svg>
</div>
<div class="main-text">
  Ramenez l'amour à la maison ! Nous facilitons les voyages de chiots à l'échelle nationale ❤️.
</div>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/"><img src="/images/Screenshot 2023-04-10 112519.png" alt="" width="100" ></a>
  <button class="navbar-toggler navbar-little-icon" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon active"></span>
  </button>
  <div class="collapse navbar-collapse main-nav" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="nav-link border border-warning text-dark chiots_avendre" href="/" id="nav-link-padding">CHIOTS À VENDRE</i></div>
      </li>
      <a href="#races">
        <li class="nav-item">
          <a class="nav-link border border-success text-light" href="#races" id="nav-link-padding">Parent Reproducteur</a>
        </li>
      </a>
      <li class="nav-item">
        <a class="nav-link border border-secondary rounded text-light" href="/help">Tous Les Chiots Disponibles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link border border-secondary text-light" href="/help">My Clients</a>
      </li>
    </ul>
  </div>
  
  <button class="fa-beat-fade contact_me_text" id="nav-link">Contact Moi<i class="fa-solid fa-right-to-bracket m-1"></i></button>

</nav>

<section class="about ">
  <div class="about-context-one col-sm-12 col-lg-6">
    <div class="about-text">
      En raison de la différence de taille entre les Poméraniens et les huskies, l'élevage naturel entre ces chiens est dangereux,
      exigeant que les pomskies soient mis au monde par insémination artificielle. Pour cette raison,
      Les pomskies sont encore assez rares dans le monde canin et ont tendance à être très chers.
      Pomsky étant le nouveau venu dans le groupe des chiens de marque, il ne fait aucun doute qu'il est l'un des chiens les plus affectueux que vous puissiez rencontrer.
      Cela peut expliquer pourquoi ils sont tant aimés. Comme déjà mentionné, ce chien est l'un des chiens de marque les plus récents. Il contient l'une des histoires d'évolution les plus fascinantes.
      En fait, si vous aviez interrogé quelqu'un sur le chien Pomski il y a 5 ans, vous n'auriez pas obtenu de réponse.
      La première apparition enregistrée d'un mélange de Husky de Poméranie remonte à 2009.
    </div>
    <a href="https://puppiesclub.com/pomsky/"><div class="btn">
      <button type="button" class="btn-primary fa-beat-fade">Plus D'info</button>
    </a>
    </div>
  </div>
  <div class="about-context-two col-sm-12 col-lg-6">
    <img src="/images/image.jpg" alt="" class="m-2 dog">
  </div>
</section>
<div class="pets_content" id="info">
  <div class="pet_context">
    <img src="/images/work.png" alt="">
    {{!-- here  --}}
    <div>
      <h1>Ce que nous faisons</h1>
      <div class="pet_context_text">Un pomskies de rêve où chaque client est traité comme un seul client
</div>
      <button class="btn btn-light info_btn">Voir</button>
    </div>
  </div>
  <div class="pet_context">
    <img src="/images/famillyjpg.jpg" alt="">
    <h1>Quelque Chiots deja vendu</h1>
    <div class="pet_context_text">Ces chiens ne représentent que %5 de nos chiens vendus</div>
    <a href="#dogs">
      <button class="btn btn-light info_btn">Voir</button>
    </a>
  </div>
  <div class="pet_context">
    <img src="/images/pomsky1.jpg" alt="">
    <h1>Voir Les Parent</h1>
    <div class="pet_context_text">Les parents sont %100 génétiquement pomskies, avec un test ADN qui a etai fais pour les deux pomskies</div>
    <button class="btn btn-light info_btn">Voir</button>
  </div>
  <div class="pet_context">
    <img src="/images/whoWe.png" alt="">
    <h1>Qui Nous Sommes?</h1>
    <div class="pet_context_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id accusamus</div>
    <button class="btn btn-light info_btn">Voir</button>
  </div>
</div>

  {{> aboutUs}}


 <div class="menu" id="dogs">
      <div class="box-container">

        <div class="box">
          <img src="/images/pomsky10.jpg" alt="">
          <h3 class="heading-1">Kimy</h3>
          <div class="price"><div class="price-1 prices">$2500</div><div class="dollar-sign"></div><span>$3000</span></div>
          <button class="btn btn-light">Voir disponibilité de ce type</button>          </div>

        <div class="box">
          <img src="/images/pomsky6.jpg" alt="">
          <h3 class="heading-2">Kimy et Pike</h3>
          <div class="price"><div class="price-2 prices">$2500</div><div class="dollar-sign"></div><span>$3000</span></div>
          <button class="btn btn-light">Voir disponibilité de ce type</button>
        </div>

        <div class="box">
          <img src="/images/dog.png" alt="">
          <h3 class="heading-3" >Kimy</h3>
          <div class="price"><div class="prices price-3">$2500</div><div class="dollar-sign"></div><span>$3000</span></div>
          <button class="btn btn-light">Voir disponibilité de ce type</button>
        </div>

        <div class="box">
          <img src="/images/pomsky6.jpg" alt="">
          <h3 class="heading-4" >Jamaica Blue coffee from Jamaica</h3>
          <div class="price"><div class="price-4 prices">$2500</div><div class="dollar-sign"></div><span>$3000</span></div>
          <button class="btn btn-light">Voir disponibilité de ce type</button>
        </div>

        <div class="box">
          <img src="/images/pomsky6.jpg" alt="">
          <h3 class="heading-5" >Nakayama Arabica coffee from Okinawa</h3>
          <div class="price"><div class="price-5 prices">$2500</div><div class="dollar-sign"></div><span>$3000</span></div>
          <button class="btn btn-light">Voir disponibilité de ce type</button>
        </div>

        <div class="box">
          <img src="/images/pomsky6.jpg" alt="">
          <h3 class="heading-6" >Peaberry Arabica coffee from Brazil</h3>
          <div class="price"><div class="price-6 prices">155.99</div><div class="dollar-sign"></div><span>115.99$</span></div>
          <button class="btn btn-light">Voir disponibilité de ce type</button>
        </div>

      </div>
    </div>


    <div class="race" id="races">
      <div class="races">
        <div class="races_heading">
          Parent Reproducteur
        </div>
      </div>

      <div class="races_context">
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, expedita!</p>
      </div>
      <div class="all-what-exists row">
        <div class="alldogs col-sm-3 col-md-4 col-lg-6">
          <img src="/images/386473791_857568445577137_1308291614278272068_n.jpg" alt="" class="races_img">
          <h1>Tokyo</h1>
          <p>née le 20-2-2020</p>
        </div>
        <div class="alldogs col-sm-3 col-md-4 col-lg-6">
          <img src="/images/Genetique Tokyo2.jpg" alt="" class=" races_img">
          <h1>Tokyo Genetique</h1>
        </div>
        <div class="alldogs col-sm-3 col-md-4 col-lg-6">
        <img src="/images/kemmy.jpg" alt="" class="races_img">                
        <h1>Pike</h1>
        <p>née le 20-1-2022</p>
        </div>
        <div class="alldogs col-sm-3 col-md-4 col-lg-6">
          <img src="/images/Genetique Tokyo2.jpg" alt="" class="races_img">          
          <h1>Hello</h1>
          <p>née le 20-2-2020</p>
        </div>
      </div>
    </div>
    {{> footer}}

    <script src="../controllers/homepage.js"></script>